.btn{
    color: brown;
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin-left: 600px;
    margin-top: 230px;
    
}
h2{
    text-align: center;
    color: rgb(185, 52, 152);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn:hover{
    color:black;
    background-color: coral;
    transition: 0.3s;
}